/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e0d0d;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.main-article {
    grid-column: span 2;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
}